<div class="header-top">
    <div class="container">
        <div class="head-top">
            <div class="logo">

                <h1><a href="/Home/Index"><span> G</span>ames <span>C</span>enter</a></h1>

            </div>
            <div class="top-nav">
                <span class="menu"><img src="~/images/menu.png" alt=""> </span>

                <ul>
                    <li class="active"><a class="color1" href="/Home/Index">Anasayfa</a></li>
                    <li><a class="colorTumHaberler" href="/Haber/Listele">Tüm Haberler</a></li>
                    @{ int i = 2; }
                    @foreach (OyunMVC.Data.Model.Kategori item in ViewBag.Kategoriler)
                    {
                        string className = "color" + i.ToString();
                        <li><a class="@className" href="/Kategori/Liste/@item.ID">@item.KategoriAdi</a></li>
                        i++;
                        if (i == 6)
                        {
                            i = 2;
                        }
                    }
                    <li><a class="color6" href="/Home/Contact">İletişim</a></li>
                    <div class="clearfix"> </div>
                </ul>

                <!--script-->
                <script>
					$("span.menu").click(function(){
						$(".top-nav ul").slideToggle(500, function(){
						});
					});
                </script>

            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
</div>
